.business,
.private {
    min-width: 400px;
    flex: 1 1 400px;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(255, 249, 239);
    margin: 10px;
    border: 1px solid rgb(156, 134, 120);
    border-radius: 3px;
}



.business h3,
.private h3 {
    text-align: center;
    color: rgb(94, 54, 28);
    font-size: 24px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
}

.private h3::after,
.business h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: rgb(94, 54, 28);
    position: absolute;
    left: 0;
    bottom: 0;
}

.coffeparty {
    display: flex;
    flex-wrap: wrap;
}

.coffemachines-grid {
    border-radius: 3px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    gap: 10px;
}

.coffemachine {
    max-width: 300px;
    border: 1px solid rgb(94, 54, 28);
    margin-bottom: 50px;
    border-radius: 3px;
}

.coffemachine img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid rgb(94, 54, 28);
}


.machine-details {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid darkgray;
}

.machine-details p {
    margin: 0;
}

.machine-details .name {
    font-size: x-large;
}

.machine-details .price {
    font-size: large;
    font-style: italic;
    margin-bottom: 6px;
}

.machine-info {
    text-align: center;
}



@media (max-width: 600px) {
    .contact-card {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .coffemachines-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px) {
    .coffemachines-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .coffemachines-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}